<!DOCTYPE html>
<html>
<head>
	<title>List for Netflix Turkey</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <style type="text/css">
     
    .jumbotron {
      margin-bottom: 1px;
      height: 350px;
      color: white;
      text-shadow: black 0.3em 0.3em 0.3em;
      background:transparent;
      background: url('/imgs/Movie.jpg') no-repeat center center; //
    }
    </style>

    <title> Ankalytics ®</title>
</head>
<body>
    
    <nav class="navbar bg-dark navbar-dark">
        <div class="container">
            <a href="" class="navbar-brand"><i class="fas fa-film mr-3"></i>Ankalytics ®</a>
        </div>
    </nav>

    <section id="header" class="jumbotron text-center">
        <h1 class="display-3"> Ankalytics ® HAYATIMIZI KOLAYLAŞTIRDIK</h1>
        <p class="lead">Keyfimiz İçin Yaptık</p>
        <a href="/alphabetic" class="btn btn-primary">Alfabetik Sırala</a>
        <a href="/rating" class="btn btn-success">IMDB Puana Göre Sırala</a>
    </section>
    
    <section id="gallery">
        <div class="container">
            <div class="row">
                
                 <% for ( var key in data) { %>
                      
                    <div class="col-lg-4 mt-2 mb-2">
                         <div class="card">
                             <img class="card-img-top" src="<%=data[key]["image"] %>">
                             <div class="card-body">
                                 <h5 class="card-title"><%= data[key]["title"]%></h5>
                                  <p class="card-text"> IMDB Rating:  <%=data[key]["rating"] %></p>
                                  
                                   <!--   <a href="/list" class="btn btn-primary">Youtube Trailer</a>-->
                                 
                                 
                             </div>
                         </div>
                    </div>
                   
                <% } %>
                
            </div>
        </div>
    </section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>